#main-body-container {
    margin-top: 65px;
    // position: relative;
    height: 800px;
    background-color: #222831;
    color: white;
    padding: 20px;
}

// Media CSS comes here ....

@media (max-width: 992px) {
    
  }
  
  @media (max-width: 768px) {
    #main-body-container {
        margin-top: 110px;
    }
  }
  
  @media (max-width: 576px) {
      #main-body-container {
          margin-top: 0px;
      }
  }


  