<app-nav-bar></app-nav-bar>

<!-- <p> Home Works! </p> -->

<div id="carosel">
  <img id="carosel-image" [src]="currentImage">
  <div (click)="MoveRight()" id="left-arrow" class="container arrow">
    <img src="../../assets/Icons/ArrowHead.png">
  </div>
  <div (click)="MoveLeft()" id="right-arrow" class="container arrow">
    <img src="../../assets/Icons/ArrowHead.png">
  </div>
</div>

<div id="main-body-container" class="container">

    <button routerLink="/0IHxVFtVA0K9b6NT7hpZ" > Click me Plzzzzzz !!! </button>

      <div id="history-container" class="container">
        Products based on your historys
        <hr>
        <div id="product-card-wrapper" class="container">
          <div class="container product-card">
            Product
          </div>
          <div class="container product-card">
            Product
          </div>
          <div class="container product-card">
            Product
          </div>
          <div class="container product-card">
            Product
          </div>
          <div class="container product-card">
            Product
          </div>
          <div class="container">
            
          </div>
          <div class="container">
            
          </div>
        </div>
      </div>
      <div class="container">
          this is where all the produxts are going to come .....
      </div>

</div>

<app-footer-large></app-footer-large>