<div id="main-container" class="container">
    <div id="left-container" class="container">
        <!-- navbar -->
        <div class="container navbar-one">
            <div class="container menu">
              <div id="seller-logo" routerLink="/" class="container logo get-away">
                SomeCompany
              </div>
            </div>
        </div>

        <div id="options-holder" class="container">
            <div class="container"><button class="option-button">Deshboard</button></div>
            <div class="container"><button class="option-button">Orders</button></div>
            <div class="container"><button class="option-button">Returns</button></div>
            <div class="container"><button class="option-button option-active">Manage Products</button></div>
            <div class="container"><button class="option-button">Sales Insight</button></div>
            <div class="container"><button class="option-button">Sales Insight</button></div>
        </div>

    </div>
    <div id="right-container" class="container">
        <!-- navbar -->
        <div class="container navbar-two">
            <div class="container menu">
              <div routerLink="/" class="container logo get-away">
                Yamezon
              </div>
            </div>
        </div>  
        <!-- navbar ends -->
        <div id="main-body-wrapper" class="container">
            <div id="boxy-holder" class="container">
                <div class="container boxy">
                    One
                </div>
                <div class="container boxy">
                    Two
                </div>
                <div class="container boxy">
                    Three
                </div>
                <div class="container boxy">
                    Four
                </div>
            </div>
        </div>

        <div id="main-body-wrapper" class="container">
            <button routerLink="/seller/products/add" id="add-button"> Add new product </button>
        </div>

        <!-- boxy container ends -->
        <div id="main-body-wrapper" class="container">
            <div id="product-list-container" class="container">
                <div>
                    Your products
                </div>
                <hr>
                <div *ngFor="let prod of sellerProducts | async">
                    <div class="container product-container">
                        <div class="container product">
                            {{ prod.title }}
                        </div>
                        <div class="container">
                            {{ prod.price }}
                        </div>
                        <div class="container">
                            {{ prod.category }}
                        </div>
                        <div class="container">
                            <button [routerLink]="['/seller/products/', prod.id]"> View </button>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>