#main-container {
    display: flex;
    background-color: grey;
    height: 1000px;
}

#right-container {
    background-color: pink;
    width: 80%;
    left: 20%;
    position: relative;
    
}

#left-container {
    background-color: darkslategray;
    width: 20%;
    position: fixed;
    // height: 100%;
}

.navbar-one, 
.navbar-two {
  flex-direction: row;
  display: flex;
  background-color: black;
  color: white;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar-one {
    background-color: darkslategray;
    border-bottom: 1px solid white;
}

.menu {
    margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: 1;
  padding: 5px;
}

.get-away {
  margin-right: 15px;
  margin-left: 15px;
}


.logo {
  cursor: pointer;
  order: 2;
  // flex-basis: 40%;
  padding: 5px;
  font-size: 23px;
}

#main-body-wrapper {
    padding: 20px;
}

#boxy-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.boxy {
    background-color: black;
    color: white;
    width: 230px;
    height: 150px;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
}


#options-holder {
    padding: 20px 0;
}

#add-button {
    background-color: darkslategray;
    padding: 10px 20px;
    border: none;
    font-family: inherit;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

#add-button:hover {
    background-color: grey;
}

#product-list-container {
    background-color: yellow;
    height: 300px;
    padding: 10px;
    border-radius: 3px;
}

.option-button {
    padding: 15px;
    text-align: left;
    width: 100%;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-size: 15px;
}

.option-button:hover {
    background-color: pink;
    color: black;
}

.option-active {
    background-color: pink;
    color: black;
}