<div id="main-container" class="container">
    <div id="left-container" class="container">
        <!-- navbar -->
        <div class="container navbar-one">
            <div class="container menu">
              <div id="seller-logo" routerLink="/" class="container logo get-away">
                SomeCompany
              </div>
            </div>
        </div>

        <div id="options-holder" class="container">
            <div class="container"><button class="option-button option-active">Deshboard</button></div>
            <div class="container"><button class="option-button">Orders</button></div>
            <div class="container"><button class="option-button">Returns</button></div>
            <div routerLink="/seller/products" class="container"><button class="option-button">Manage Products</button></div>
            <div class="container"><button class="option-button">Sales Insight</button></div>
            <div class="container"><button class="option-button">Sales Insight</button></div>
        </div>

    </div>
    <div id="right-container" class="container">
        <!-- navbar -->
        <div class="container navbar-two">
            <div class="container menu">
              <div routerLink="/" class="container logo get-away">
                Yamezon
              </div>
            </div>
        </div>  
        <!-- navbar ends -->
        <div id="main-body-wrapper" class="container">
            <div id="boxy-holder" class="container">
                <div class="container boxy">
                    One
                </div>
                <div class="container boxy">
                    Two
                </div>
                <div class="container boxy">
                    Three
                </div>
                <div class="container boxy">
                    Four
                </div>
            </div>
        </div>
        <!-- boxy container ends -->
        <div id="main-body-wrapper" class="container">
            <div id="graphy-holder" class="container">
                <div id="left-graph" class="container graphy">
                    One
                </div>
                <div id="right-graph" class="container graphy">
                    Two
                </div>
                
            </div>
        </div>
    </div>
</div>