.navbar-one {
  flex-direction: row;
  display: flex;
  background-color: black;
  color: white;
  padding: 5px;
  justify-content: space-between;
}

.navbar-one-div {
  flex-direction: row;
  display: flex;
  background-color: black;
  color: white;
  padding: 5px;
}

#navbar-one-left {
  flex: 2;
}

#navbar-one-right {
  flex: 1;
  justify-content: flex-end;
}

.greeting {
  flex-basis: 40%;
}

.cart {
  flex-basis: 15%;
}

.menu {
  flex-basis: 15%;
}

.logo {
  flex-basis: 40%;
}

.search-bar {
  flex-basis: 100%;
}
