*:focus {
  outline: 0 !important;
}

.navbar {
  color: white;
  background-color: #131921;
  font-family: 'Sanchez', serif;
  padding: 8px;
}

.navbar-second {
  background-color: #232f3e;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar-brand {
  margin: 5px 5px;
  font-size: 20px;
  float: left;
  text-decoration: none;
}

#nav-button {
  width: 25px;
  // height: 35px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.div-center {
  width: 90%;
  margin: auto;
  font-size: 12px;
}

#nav-button span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: white;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-button span:nth-child(1) {
  top: 3px;
}

#nav-button span:nth-child(2) {
  top: 11px;
}

#nav-button span:nth-child(3) {
  top: 19px;
}

#nav-button.open span:nth-child(1) {
  top: 16px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-button.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-button.open span:nth-child(3) {
  top: 16px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.stick-button {
  border: 1px solid lightgrey;
  box-shadow: none;
  background-color: white;
  color: black;
  padding: 8px;
  width: auto;
  height: 40px;
  font-size: 13px;
}

#right-stick {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: lightgrey;
  vertical-align: bottom;
}

#left-stick {
  width: max-content;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: lightgray;
}

.search-bar {
  margin: 0 20px;
  max-width: 350px;
  width: auto;
}

.stick-input {
  border: none;
  box-shadow: none;
  padding: 8px;
  border-right: 1px solid lightgrey;
  vertical-align: bottom;
}

.image-button {
  background-color: transparent;
  padding: 0;
  border: none;
  box-shadow: none;
}

.button-icon {
  width: 20px;
}

.navbar-col {
  margin: 5px;
  width: max-content;
}

.navbar-col-inner {
  width: 100%;
}

.row {
  margin: 0;
}

#cart {
  width: 32px;
}

#cart-badge {
  font-size: 10px;
}

.user-greeting {
  font-size: 13px;
  margin-right: 10px;
  margin-top: 8px
}

#cart-mobile {
  width: 32px;
  float: right;
}

#cart-badge-mobile {
  font-size: 10px;
  float: right;
}

.row-full {
  width: 100%;
}

.mobile-cart-col {
  display: none;
}

.no-padding-col {
  padding: 0;
}

#app-name {
  margin-left: 5px;
}

#location-pin {
  vertical-align: middle;
}

@media (max-width: 575.98px) {
  #left-stick {
    display: none;
  }

  .navbar-col {
    width: 100%;
  }

  .stick-input {
    width: 85%;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }

  #right-stick {
    width: 15%;
  }

  .navbar-brand {
    width: 100%;
  }

  .mobile-cart-col {
    display: block;
  }

  .cart-col {
    display: none;
  }

  .user-greeting-desktop {
    display: none;
  }
}
