<nav class="navbar">
  <div id="nav-button" [class.open]="isOpen" (click)="transition()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <a class="navbar-brand">Yamezon</a>

  <div>
    <form method="POST" action="">
      <button id="left-stick" class="stick-button" type="">
        Category
      </button>
      <input
        class="stick-input"
        type="text"
        placeholder="Search for products here"
      />
      <button id="right-stick" class="stick-button" type="">
        <img class="button-icon" src="../../assets/Icons/Search.png" />
      </button>
    </form>
  </div>

  <div>
    <button class="image-button" type="">
      <img src="../../assets/Icons/Flag-India.png" />
    </button>
  </div>

  <div>
    <div class="row row-cols-1">
      <div class="col">Hello, Yash Malviya</div>
      <div class="col">Account settings</div>
    </div>
  </div>

  <div>
    <button class="image-button" type="">
      <!-- <img src="../../assets/Icons/Cart.png" /> -->
      <svg
        width="2em"
        height="2em"
        viewBox="0 0 16 16"
        class="bi bi-cart2"
        fill="white"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
        />
      </svg>
    </button>
  </div>

  <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->

  <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul> -->
  <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  <!-- </div> -->
</nav>
