<div class="container navbar-one">
  <div class="container menu">
    <div class="" id="menu-icon" [class.open]="isOpen" (click)="transition()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div routerLink="/" class="container logo get-away">
      Yamezon
    </div>
  </div>

  <div class="container search-bar">
    <div class="container category-container">
      <button id="category-button" class="btn" type="button">
        All &#9662;
      </button>
    </div>

    <div class="container search-input-container">
      <input id="search-input" class="form-input" type="text" placeholder="Search Here" />
    </div>

    <div class="container search-container">
      <button id="search-button" class="btn" type="button">
        <img src="../../assets/Icons/Search.png" class="search-icon" />
      </button>
    </div>
  </div>

  <div type="button" id="" class="container cart">
    <div routerLink="/orders" id="return-and-orders" class="container get-away-extra">
      <div id="" class="container upper">
        Returns
      </div>
      <div id="" class="container lower">
        & Orders
      </div>
    </div>

    <div id="account" class="container get-away-extra" routerLink="/account">
      <div id="" class="container upper">
        Hello, YASH
      </div>
      <div id="manage-account" class="container lower">
        Manage Account
      </div>
    </div>

    <div id="sign-in" class="container get-away-extra" routerLink="/login">
      <div id="" class="container upper">
        Hello, Sign In
      </div>
      <div id="manage-account" class="container lower">
        Manage Account
      </div>
    </div>


    <img routerLink="/cart" src="../../assets/Icons/Cart.png" id="cart-icon" />
  </div>
</div>

<div class="container navbar-two">
  <div class="container location">
    <img id="location-pin" src="../../assets/Icons/Location.png" />
    <span class="location-text"> Deliver to YASH - Bangalore 560102</span>
  </div>
</div>
