#main-container {
    margin-top: 65px;
    display: flex;
    padding: 20px 10px;
    font-size: 15px;
}

#product-info {
    width: 80%;
    // background-color: red;
    // height: 200px;
    display: flex;
    // justify-content: space-between;
}

#buying-info {
    // display: flex;
    // align-content: center;
    // justify-content: center;
    // background-color: green;
    height: 200px;
    width: 20%;
}

.image-list {
    // height: auto;
    max-width: 100%;
}

.image-list-list {
    list-style: none;   
    // border: 1px solid grey;
    max-width: 100px;
    max-height: 100px;
    margin: 20px 10px;
    cursor: pointer;
}

#image-side {
    width: 40%;
    display: flex;
    align-items: center;
}

#info-side {
    padding: 5px 25px;
    width: 60%;
}

#main-image {
    // height: 300px;
    width: 100%;
}

#store-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

#title {
    margin-top: 10px;
    font-size: 20px;
}

#rating-container {
    font-size: 13px;
    display: flex;
}

#rating-star {
    vertical-align: middle;
}

#rating-text {
    margin-left: 20px;
}

.star {
    vertical-align: sub;
}

.price-main {
    margin-top: 5px;
    display: flex;
}
 .price-left {
     padding-right: 15px;
     text-align: right;
     width: 150px;
 }

//  .price-right {

//  }
 
 .big-price {
     font-size: 18px;
     color: red;
 }

 .cut-price {
    text-decoration: line-through;
 }

 .deliver-container {
     margin-top: 10px;
 }

 #stock {
     color: green;
     font-weight: 600;
 }

 .share-icon {
     height: 20px;
     width: 20px;
     margin: 5px;
     vertical-align: middle;
 }

#share-container {
    margin: auto;
    text-align: center;
    width: 100%;
}

#main-buying-container {
    border: 1px solid grey;
    padding: 10px;
}

input {
    font-family: inherit;
    width: 100%;
    // margin: auto;
}

.quantity-container {
    display: flex;
    flex-wrap: nowrap;
}

#quantity {
    margin-right: 20px;
}

.buy-button {
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    font-family: inherit;
    font-size: 15px;
}

#button-container {
    margin-top: 20px;
}

#side-side-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

#product-description {
    padding: 10px;
}

.container-header {
    font-size: 18px;
    font-family: inherit;
    color: orange;
    font-weight: 700;
}

#desc-para {
    color: black;
    font-size: 13px;
}

#details-container {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
}

#tech-details {
    margin-bottom: 15px;
    width: 50%;

}

#addi-details {
    width: 50%;
}

.table-container {
    display: flex;
    // margin-top: 15px;
}

.spec {
    border-top: 1px solid black;
    width: 48%;
    padding: 10px;
    background-color: grey;
    color: black;
    margin-bottom: none;
}

.deta {
    border-top: 1px solid black;
    margin-bottom: none;
    width: 48%;
    padding: 10px;
    background-color: lightgrey;
    color: black;
}

#margin-div {
    margin-top: 15px;
}

#qna-search-div {
    margin-top: 15px;
}

#qna-search {
    height: 40px;
    padding: 5px;
    width: 50%;
    font-size: 16px;
}

#ans {
    color: black;
    margin: 10px;
    // padding: 10px;
    display: flex;
    flex-wrap: nowrap;
}

#vote{
    padding: 0 20px;
    border-right: 1px solid black;
}

#qna-section {
    padding: 0 10px;
}

.row {
    display: flex;
}

.col{
    padding: 5px 10px;
}

.question- {
    width: 100px;
}


// $blue: blue;

.more-button {
    margin: 40px 10px;
    padding: 8px;
    // color: $blue;
}

