#main-body-container {
    // margin-top: 65px;
    // position: relative;
    height: 800px;
    background-color: #222831;
    color: white;
    padding: 20px;
}

#carosel {
    margin-top: 65px;
    background-color: white;
    color:  black;
    height: 400px;
}

#carosel-image {
    height: 100%;
    width: 100%;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 220px;
}

#right-arrow {
    left: 5%;
    
}

#left-arrow {
    left: 95%;
    transform: rotate(180deg);
}

#history-container {
    background-color: white;
    padding: 10px;
    color: black;
}

#product-card-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

.product-card { 
    height: 150px;
    background-color: blue;
    width: 200px;

}



// Media CSS comes here ....

@media (max-width: 992px) {
    #main-body-container {
        margin-top: 110px;
    }
  }
  
  @media (max-width: 768px) {
    #main-body-container {
        margin-top: 0;
    }
  }
  
  @media (max-width: 576px) {
      #main-body-container {
          margin-top: 0;
      }
      #carosel {
        margin-top: 0;
      }
  }

  body {
      overflow-x: hidden;
  }


  