<div class="container navbar-one">
  <div class="container menu">
    <div class="" id="menu-icon" [class.open]="isOpen" (click)="transition()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div routerLink="/" class="container logo get-away">
      Yamezon
    </div>
  </div>

  <div class="container search-bar">
    <div class="container category-container">
      <button id="category-button" class="btn" type="button">
        All &#9662;
      </button>
    </div>

    <div class="container search-input-container">
      <input id="search-input" class="form-input" type="text" placeholder="Search products here" />
    </div>

    <div class="container search-container">
      <button id="search-button" class="btn" type="button">
        <img src="../../assets/Icons/Search.png" class="search-icon" />
      </button>
    </div>
  </div>

  <div type="button" id="" class="container cart">

    
    <div routerLink="" id="return-and-orders" class="container get-away-extra">

      <div *ngIf="authService.user" id="location-main" class="container">
        <div id="image-container" class="container">
          <img id="location-pin" src="../../assets/Icons/Location.png" />
        </div>
        <div class="container">
          <div id="" class="container upper">
            <!-- Deliver to {{ user_data.displayName }} -->
            Deliver to SomeName
          </div>
          <div id="" class="container lower">
            Bangalore - 560102 &#9660;
          </div>
        </div>
      </div>
      
    </div>

    <!-- <div routerLink="/orders" id="return-and-orders" class="container get-away-extra">
      <div id="" class="container upper">
        Returns
      </div>
      <div id="" class="container lower">
        & Orders
      </div>
    </div> -->

    <!-- If the user is logged in -->
    <div id="account" *ngIf="authService.user else signin" class="container get-away-extra" >
      <div id="" class="container upper">
        <div *ngIf="authService.user.displayName else nouser" class="">
          Hello, {{ authService.user.firstName }}
        </div>
        <ng-template>
          <div #nouser class="">
            Hello, Anonymous
          </div>
        </ng-template>
      </div>
      <div id="manage-account" class="container lower">
        <div class="dropdown">
          <button class="dropdown-button">Manage Account &#9660;</button>
          <div class="dropdown-content">
            <a>Manage Account</a>
          <a>My Orders</a>
          <a>My Wishlist</a>
          <a (click)="Logout()" >Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- If the user is not logged in -->
    <ng-template #signin> <div id="sign-in" class="container get-away-extra" routerLink="/login">
      <div id="" class="container upper">
        Hello, Sign In
      </div>
      <div id="manage-account" class="container lower">
        Manage Account
      </div>
    </div> </ng-template>

    <!-- If the user is logged in -->
    <!-- <div id="account" *ngIf="authService.user as user else signin" class="container get-away-extra" routerLink="/account">
      <div id="" class="container upper">
        Hello, {{ user.displayName }}
      </div>
      <div id="manage-account" class="container lower">
        Manage Account
      </div>
    </div> -->

    <!-- If the user is not logged in -->
    <!-- <ng-template #signin> <div id="sign-in" class="container get-away-extra" routerLink="/login">
      <div id="" class="container upper">
        Hello, Sign In
      </div>
      <div id="manage-account" class="container lower">
        Manage Account
      </div>
    </div> </ng-template> -->


    <img routerLink="/cart" src="../../assets/Icons/Cart.png" id="cart-icon" />
  </div>
</div>

<div  class="container navbar-two">
  <div class="container location">
    <img id="location-pin" src="../../assets/Icons/Location.png" />
    <span lass="location-text"> Deliver to Yash - Bangalore 560102</span>
  </div>
</div>
