.footer {
    color: white;
    // position: absolute;
    left: 0;
    bottom: 0;
    width: auto;
    margin-top: auto;
    background-color: black;
    padding: 8px;
  }

.main-footer {
  margin-top: 20px;
  text-align: center;
}

select {
  padding: 3px;
  font-family: inherit;
  font-size: 15px;
  width: 120px;

}

option {
  font-family: inherit;
}

#main-splitter {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  flex-wrap: wrap;
}

li {
  list-style: none;
  margin: 10px 0px;
  font-size: 15px;
  cursor: pointer;
  width: 100%;
}

.list-header {
  font-size: 20px;
  font-weight: 700;
  cursor: auto;
}

hr {
  width: 95%;
  color: white;
  margin-top: 20px;
}

// Media CSS comes here ....

@media (max-width: 992px) {
    
}

@media (max-width: 768px) {
  #container-splitter {
    justify-content: space-around;    
  }
  
  #container-item {
      width: 50%;
    };

}

@media (max-width: 576px) {
  #container-item {
    width: 400px;
  }
}
