<footer class="footer">
    <div class="container first-container">
      <div id="main-splitter" class="container">
          <div class="container container-item">
              <ul>
                  <li class="list-header">
                    Get To Know Us
                  </li>
                  <li>
                    Careers
                  </li>
                  <li>
                    Press Releases
                  </li>
              </ul>
          </div>
          <div class="container container-item">
            <ul>
                <li class="list-header">
                    Connect To Us
                </li>
                <li>
                    Facebook
                </li>
                <li>
                    Twitter
                </li>
                <li>
                    Instagram
                </li>
            </ul>
        </div>
        <div class="container container-item">
            <ul>
                <li class="list-header">
                    Make Money With Us
                </li>
                <li>
                    Sell on Yamezon
                </li>
                <li>
                    Advertise your products
                </li>
            </ul>
        </div>
        <div class="container container-item">
            <ul>
                <li class="list-header">
                    Let Us Help You
                </li>
                <li>
                    Your Account
                </li>
                <li>
                    Returns Centre
                </li>
                <li>
                    100% Purchase Protection
                </li>
                <li>
                    Help 
                </li>
            </ul>  
        </div>
      </div>
    </div>
    <hr class="first-container">
    <div class="container main-footer">
        Change your language here &nbsp; : &nbsp; 
        
        <select name="lang" id="lang">
          <option value="EN">English</option>
          <option value="saab">Hindi</option>
          <option value="mercedes">Telugu</option>
          <option value="audi">Tamil</option>
        </select> 
    </div>
    <hr>
    <div class="container main-footer">
        <span>&copy; 2020, Yamezon.com, Developed and maintained by Yash Malviya</span>
    </div>
  </footer>
 
 