/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
// @import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

html,
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Sanchez', serif;
  // -webkit-box-sizing: border-box;
  // -moz-box-sizing: border-box;
  // box-sizing: border-box;
}
