.footer {
  color: white;
  position: initial;
  left: 0;
  bottom: 0;
  width: -moz-available ;
  margin-top: auto;
  background-color: black;
  padding: 8px;
}

#footer-container {
  margin: auto;
  width: 80%;
  text-align: center;
}